<link rel="stylesheet" href="/css/admin_log_style.css">
<body>
<div class="admin_log_body">
    <h3 class="title"><%- title%></h3>
    <form method="post" action="admin/log">

        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>

        <input type="submit" class="submit" value="Submit">
    </form>
</div>
</body>