<link rel="stylesheet" href="../css/user_dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<body>
<h2 class="title"><%- title %></h2>
<nav >
    <ul id="main">
        <li><a href="/page">home</a></li>
        <li>about</li>
        <li><a href="/deposit" target="_blank">deposit</a></li>
        <li>
            <form action="/signout" method="post">
                <button class="nav-link">SIGN OUT</button>
            </form>
        </li>
    </ul>
</nav>

</body>